* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.navbar-toggler-icon {
  height: 6rem;
  width: 6rem;
}

li {
  font-size: 2rem;
}

#change_text::before {
  content: "E-commerce";
  color: whitesmoke;
  -webkit-animation: changetext 5s infinite;
          animation: changetext 5s infinite;
}

.nav_icon_1 {
  font-size: 1.6rem;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

nav {
  font-size: 2rem;
}

html, body {
  overflow-x: hidden;
  font-size: 10px;
  max-height: 100vh;
}

#nav_1 {
  /* background-color: blueviolet; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  font-size: 1.3rem;
}

header {
  border-bottom: 1px solid #c5c3c3;
}

.nav_icon_2 {
  font-size: 2rem;
}

#nav_main {
  font-size: 1.8rem;
}

#logo_div {
  width: 30%;
}

#home {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(32, 110, 228, 0.9)), to(rgba(46, 30, 119, 0.9))), url(./mainimg.jpg);
  background-image: linear-gradient(rgba(32, 110, 228, 0.9), rgba(46, 30, 119, 0.9)), url(./mainimg.jpg);
  background-size: cover;
  background-position: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#details {
  width: 70%;
  color: white;
  font-size: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 15rem;
}

.text_main {
  font-size: 5rem;
  font-weight: 1000;
  /* width: 50%; */
  text-align: start;
}

.text_descr {
  /* width: 70%; */
  /* border: 2px solid blue; */
  text-align: start;
}

#services {
  background-color: white;
  border: none;
  padding: 1.5rem 2rem;
  border-radius: 1rem;
  font-size: 1.8rem;
}

#hire {
  background-color: transparent;
  border: 1px solid white;
  font-size: 1.8rem;
  color: #ffffff;
  padding: 1.5rem 5rem;
  border-radius: 1rem;
}

#btn_group {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#home_right {
  margin: 0 15rem;
  color: white;
  width: 25%;
}

#form {
  color: black;
  background-color: white;
  padding: 4rem;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  -webkit-box-shadow: 0px 0px 10px 5px rgba(128, 128, 128, 0.219);
          box-shadow: 0px 0px 10px 5px rgba(128, 128, 128, 0.219);
  font-size: 2rem;
}

#form:hover {
  -webkit-animation: card 2s linear;
          animation: card 2s linear;
}

input::-webkit-input-placeholder {
  font-size: 2rem;
  line-height: 3;
}

input:-ms-input-placeholder {
  font-size: 2rem;
  line-height: 3;
}

input::-ms-input-placeholder {
  font-size: 2rem;
  line-height: 3;
}

input::placeholder {
  font-size: 2rem;
  line-height: 3;
}

#form {
  border-radius: 1rem;
}

#form h1 {
  font-weight: bold;
}

.form_para {
  color: gray;
  font-size: 1.4rem;
}

.toggler {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
  visibility: hidden;
}

.toggler span {
  width: 50px;
  height: 5px;
  background-color: black;
  margin: 5px 0;
}

.consultation {
  -webkit-animation: typewriter 2s linear;
          animation: typewriter 2s linear;
}

.services_wwd:hover {
  -webkit-box-shadow: 0px 0px 10px 5px #7beafd;
          box-shadow: 0px 0px 10px 5px #7beafd;
  -webkit-animation: card 2s linear;
          animation: card 2s linear;
}

#wwd {
  font-size: 2rem;
  padding: 2rem 0 0 0;
}

.text_ht_wwd {
  font-size: 4rem;
  text-align: center;
  color: #00004b;
  font-weight: bold;
}

.icons_wwd {
  height: 7rem;
  width: 7rem;
  background-color: rgba(0, 195, 255, 0.336);
  border-radius: 0.5rem;
  margin: auto;
}

.services_wwd {
  padding: 10rem 0;
  font-size: 1.5rem;
  text-align: center;
}

.heading_wwd {
  font-weight: bold;
  color: #010138;
}

#about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.img_about img {
  margin: 0 18rem;
}

.heading_about {
  font-weight: bold;
  font-size: 4rem;
  color: #00005a;
}

.para_about {
  font-size: 1.6rem;
  width: 70%;
}

#about div:nth-child(2) {
  font-size: 2rem;
}

#learn {
  color: white;
  background-color: #5252ff;
  border: none;
  border-radius: 1rem;
  padding: 1.5rem 3rem;
  font-size: 1.6rem;
}

#achievement {
  background-image: url("https://jevelin.shufflehound.com/corporate-accounting/wp-content/uploads/sites/32/2019/10/achievements-bg.jpg?id=288");
  font-size: 2rem;
}

#text_achievement div:nth-child(1) {
  padding: 2rem;
  color: #f0f0f0;
}

#text_achievement h1 {
  letter-spacing: 1px;
  font-size: 4rem;
  font-weight: bold;
  color: white;
}

#num_achievement {
  width: 70vw;
  margin: 2rem auto;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
          box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
  -webkit-transform: translateY(2rem);
          transform: translateY(2rem);
}

.box_achievements {
  padding: 4rem 10rem;
  text-align: center;
}

.vl {
  background-color: #d4d4d4;
  width: 1px;
  height: 20rem;
}

#why_us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 2rem;
  margin: 6rem;
}

#why_us_1 h1 {
  font-size: 4rem;
  color: #0f0066;
  font-weight: bold;
}

#why_us_grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.grid_heading {
  font-weight: bold;
  color: #0f0066;
}

#testimonials {
  font-size: 2rem;
  background: url(../index_bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 20rem;
}

#testimonials h1 {
  font-weight: bold;
  color: #06003d;
  font-size: 4rem;
}

#testimonials .descr_testimonials {
  -webkit-box-shadow: 0 8px 6px -6px #7e7e7e;
          box-shadow: 0 8px 6px -6px #7e7e7e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  margin: 0 20rem;
  padding: 0 10rem;
  -webkit-transform: translateY(10rem);
          transform: translateY(10rem);
}

#hire_us {
  background: url("https://images.pexels.com/photos/3183183/pexels-photo-3183183.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover;
  height: 50vh;
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#hire_us h1 {
  font-weight: bold;
}

#hire_us .descr_hire {
  width: 50%;
}

#hire_us button {
  background-color: green;
  border: none;
  padding: 2rem 2rem;
  border-radius: 1rem;
  color: white;
}

#hire_us .para_hire {
  color: #fafafa;
}

footer {
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10rem;
}

#footer_1 {
  width: 40%;
}

#footer_2 {
  width: 60%;
}

.heading_footer {
  font-weight: bold;
}

@media (max-width: 1205px) {
  #about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .img_about {
    margin: auto;
  }
  .img_about img {
    margin: auto;
    height: 80rem;
    width: 50rem;
  }
  .descr_about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

@media (max-width: 1081px) {
  html {
    font-size: 8px;
  }
  #num_achievement {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #details {
    padding: 10rem;
  }
  .vl {
    display: none;
  }
  .box_achievements {
    text-align: center;
    padding: 4rem 2rem;
  }
  #why_us_grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  #why_us {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #why_us_1, #why_us_2 {
    margin: 2rem auto;
  }
  #hire_us {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 891px) {
  header {
    visibility: hidden;
    position: absolute;
  }
  .toggler {
    visibility: visible;
  }
  .nav-it {
    visibility: hidden;
  }
  #home {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #home_right {
    width: 50%;
  }
  .descr_testimonials {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .line {
    display: none;
  }
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #footer_2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 723px) {
  html {
    font-size: 6px;
  }
}

@media (max-width: 593px) {
  html {
    font-size: 5px;
  }
  #wwd {
    font-size: 2rem;
    padding-top: 10rem;
  }
  .img_about {
    margin: auto;
  }
}

@media (max-width: 472px) {
  html {
    font-size: 4px;
  }
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .img_about {
    margin: auto;
  }
  #why_us_2 img {
    height: 100rem;
    width: 60rem;
  }
}

@media (max-width: 411px) {
  .img_about {
    height: 80rem;
    width: 40rem;
    margin: auto;
  }
  #why_us_2 img {
    height: 80rem;
    width: 40rem;
  }
}

@media (max-width: 314px) {
  #btn_group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #btn_group #services {
    margin: 2rem 0;
  }
}

@-webkit-keyframes changetext {
  0% {
    content: "E-commerce";
  }
  25% {
    content: "Blog";
  }
  50% {
    content: "Portfolio";
  }
  100% {
    content: "Social-Media";
  }
}

@keyframes changetext {
  0% {
    content: "E-commerce";
  }
  25% {
    content: "Blog";
  }
  50% {
    content: "Portfolio";
  }
  100% {
    content: "Social-Media";
  }
}
/*# sourceMappingURL=main.css.map */